/* reset */
*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header style */
header  {
    display: flex;
    justify-content: center;
    align-items: center;
    /* debug */
    background-color: lightblue;
    height: 50px;
}

/* nav style */
nav     {
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    /* debug */
    background-color: rgb(225, 153, 19);
    height: 30px;
}

/* nav section style */
nav div {
    border: 1px dotted black;
    display: flex;
}

.logo, .login    {
    width: 20%;
}

.nav_link   {
    width: 80%;
    display: flex;
    justify-content: center;
}

.login  {
    justify-content: end;
}

/* title section style */
.title  {
    display: flex;
    justify-content: center;
    align-items: center;
    /* debug */
    background-color: blue;
    height: 400px;
}

.content    {
    display: flex;
    /* debug */
    background-color: pink;
    height: 300px;
    width: 80%;
}

/* section style */
.section_1, .section_3  {
    display: flex;
    justify-content: center;
    align-items: center;
    /* debug */
    background-color: white;
    height: 500px;
}

.section_2  {
    display: flex;
    justify-content: center;
    align-items: center;
    /* debug */
    background-color: grey;
    height: 500px;
}

.section_4  {
    display: flex;
    justify-content: center;
    align-items: center;
    /* debug */
    background-color: grey;
    height: 700px;
}

/* div inside section style */
.img    {
    width: 50%;
    /* debug */
    background-color: rgb(95, 138, 240);
    height: 400px;
}

.text   {
    width: 30%;
    /* debug */
    background-color: rgb(227, 112, 214);
    height: 400px;
}

.container  {
    width: 80%;
    /* debug */
    background-color: green;
    height: 600px;
}